<!-- <div role="document" class="modal-dialog">
    <div class="modal-content"> -->
<div class="modal-header">
    <h2 mat-dialog-title class="mat-content">Thanh toán bằng thẻ</h2>
    <button aria-label="Close" class="close" type="button">
        <span aria-hidden="true">×</span>
    </button>
</div>
<!-- <div class="modal-body" style="opacity: 1;">
    <div class="content"> -->
<mat-dialog-content class="mat-typography">
    <ol>
        <li>
            <h3><strong>Dịch vụ Ủy nhiệm thanh toán tự động</strong></h3>
            <p>Đối với hình thức thanh toán này, Quý khách sẽ yêu cầu ngân hàng tự động trích tài khoản của
                Quý khách để thanh toán phí bảo hiểm theo định kỳ cho Chubb Life với số tiền theo đúng chỉ
                định của Quý khách tại mẫu đăng ký.</p>
            <p>Quý khách có tài khoản tại Ngân hàng Đông Á, Sacombank hoặc Ngân hàng BIDV có thể đăng ký sử
                dụng miễn phí dịch vụ Ủy nhiệm thanh toán phí bảo hiểm tự động tại các Chi nhánh/Phòng giao
                dịch của ngân hàng trên toàn quốc.</p>
            <p>Quý khách có tài khoản tại Ngân hàng Agribank có thể đăng ký sử dụng miễn phí dịch vụ Ủy
                nhiệm thanh toán phí bảo hiểm tự động tại các Chi nhánh/Phòng giao dịch của Agribank nơi Quý
                khách mở tài khoản giao dịch. Ngoài ra, Quý khách có thể chủ động đăng ký sử dụng dịch vụ Ủy
                nhiệm thanh toán tự động (thanh toán định kỳ) tại các NH khác mà Quý khách có tài khoản ngân
                hàng. Phí dịch vụ có thể áp dụng tùy theo quy định của từng ngân hàng.</p>
            <br>
        </li>
        <li>
            <h3><strong>Dịch vụ Ngân hàng trực tuyến (Internet Banking)</strong></h3>
            <p>Quý khách có tài khoản tại Ngân hàng Vietcombank hoặc Ngân hàng Techcombank có thể sử dụng
                miễn phí dịch vụ Ngân hàng trực tuyến để thanh toán phí bảo hiểm cho Chubb Life.</p>
            <ul>
                <li>
                    <p> Quý khách có tài khoản tại Ngân hàng Vietcombank có thể đăng nhập vào tài khoản của
                        mình tại địa chỉ: <a class="text-cyan" href="https://www.vietcombank.com.vn/Ebanking"
                            target="_blank">https://www.vietcombank.com.vn/Ebanking</a>, sau đó chọn mục
                        “Thanh toán hóa đơn” trong tính năng “Thanh toán” để thực hiện giao dịch. Xin vui
                        lòng xem hướng dẫn chi tiết <a class="text-cyan"
                            href="./assets/files/internet-banking-vietcombank.pdf" target="_blank">tại
                            đây</a> .</p>
                </li>
                <li>
                    <p> Quý khách có tài khoản tại Ngân hàng Techcombank có thể đăng nhập vào tài khoản của
                        mình tại địa chỉ: <a class="text-cyan"
                            href="https://ib.techcombank.com.vn/servlet/BrowserServlet"
                            target="_blank">https://ib.techcombank.com.vn/servlet/BrowserServlet</a>, sau đó
                        chọn dịch vụ “Thanh toán bảo hiểm Chubb Life”. Xin vui lòng xem hướng dẫn chi tiết
                        <a class="text-cyan" href="./assets/files/internet-banking-techcombank.pdf">tại
                            đây</a> .
                    </p>
                </li>
            </ul>
            <p>Ngoài ra, Quý khách có thể chủ động sử dụng dịch vụ Ngân hàng trực tuyến của các ngân hàng
                khác để thanh toán phí bảo hiểm vào một trong những tài khoản ngân hàng của Chubb Life với
                thông tin thanh toán như hướng dẫn ở mục "Chuyển khoản bằng Ủy nhiệm chi" nếu ngân hàng đó
                có cung cấp dịch vụ này. Phí dịch vụ có thể áp dụng tùy theo quy định của từng ngân hàng.
            </p>
            <br>
        </li>
        <li>
            <p><strong>Chuyển khoản bằng Ủy nhiệm chi</strong></p>
            <p>Quý khách có thể đến ngân hàng nơi mình có tài khoản và thực hiện thanh toán phí bảo hiểm cho
                Chubb Life thông qua hình thức Ủy nhiệm chi (Lệnh chuyển khoản) với các thông tin như sau:
            </p>
            <ul>
                <li>
                    <p>Tên đơn vị thụ hưởng: <strong>CÔNG TY TNHH BẢO HIỂM NHÂN THỌ CHUBB VIỆT NAM</strong>
                    </p>
                </li>
                <li>
                    <p>Tài khoản đơn vị thụ hưởng (ghi 01 trong các tài khoản dưới đây):</p>
                </li>
            </ul>
            <div class="content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><strong>STT</strong></th>
                            <th><strong>Tên Ngân Hàng</strong></th>
                            <th><strong>Số Tài Khoản</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Citibank – TP. HCM</td>
                            <td>0301283016</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Sacombank - TP. HCM</td>
                            <td>060026136523</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Techcombank Hà Nội - CN Láng Hạ</td>
                            <td>14022822836689</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Tien Phong Bank - TP. HCM</td>
                            <td>00898933001</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Vietcombank - TP. HCM</td>
                            <td>0071004266522</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>BIDV - CN Sở GD II - TP.HCM</td>
                            <td>13010001551933</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>ACB - TP.HCM</td>
                            <td>199368179</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Dong A Bank - SGD TP.HCM</td>
                            <td>014613800001</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Agribank - CN Sài Gòn</td>
                            <td>1600201447239</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                <br>
                Nội dung thanh toán:
            </p>
            <p>
                <!-- '{' -->
                <strong>Loại thanh toán</strong>
                <!-- '}-{' -->
                <strong>Số Hợp đồng bảo hiểm hoặc Số Hồ sơ Yêu cầu Bảo hiểm</strong>
                <!-- '}-{' -->
                <strong>Tên Bên mua bảo hiểm</strong>
                <!-- '}-{' -->
                <strong>Số ĐTDĐ</strong>
                <!-- '}' -->
            </p>
            <p>Trong đó:</p>
            <ul>
                <li>
                    <p>Loại thanh toán:</p>
                </li>
            </ul>
            <p>
                +
                <strong>LD</strong>
                : Phí Bảo hiểm lần đầu, áp dụng cho trường hợp phí đóng theo Hồ sơ Yêu cầu Bảo hiểm
                mới, chưa phát hành Hợp đồng Bảo hiểm
                <br>
                +
                <strong>DK</strong>
                : Phí Bảo hiểm định kỳ hoặc/và Hoàn trả tạm ứng từ giá trị tài khoản hợp đồng, áp dụng
                cho các trường hợp đóng phí bình thường, đóng thêm vào Tài khoản Hợp đồng hoặc
                hoàn trả tạm ứng (vay) từ tài khoản hợp đồng.
                <br>
                +
                <strong>DC</strong>
                : Phí Bảo hiểm để điều chỉnh hoặc khôi phục hợp đồng. Đối với trường hợp này Quý khách
                nên liên hệ Đại diện kinh doanh đang phục vụ hoặc liên hệ công ty để được tư vấn và
                hướng dẫn cách điền Hồ sơ yêu cầu điều chỉnh hợp đồng hoặc Hồ sơ yêu cầu khôi phục hợp
                đồng trước khi thực hiện thanh toán.&nbsp;
            </p>
            <ul>
                <li>
                    <p>Số Hợp đồng Bảo hiểm bao gồm 15 số (kết thúc bằng 3 số 008) hoặc Số Hồ sơ Yêu cầu
                        Bảo hiểm gồm 15 số (kết thúc bằng 3 số 001).</p>
                </li>
                <li>
                    <p>Số ĐTDĐ: Số điện thoại di động của Quý khách để công ty liên hệ nếu nội dung
                        thanh toán có sai sót.&nbsp;</p>
                </li>
            </ul>
            <p>
                <strong>Ví dụ 1</strong>
                :&nbsp;
            </p>
            <p>Trường hợp Quý khách thanh toán phí lần đầu</p>
            <p>LD-000012345620001-TRAN THI THANH-0903123456</p>
            <p>
                <strong>Ví dụ 2</strong>
                :&nbsp;
            </p>
            <p>Trường hợp Quý khách thanh toán phí định kỳ</p>
            <p>DK-000012345620008-TRAN THI THANH-0903123456</p>
            <p>
                <strong>Ví dụ 3</strong>
                :&nbsp;
            </p>
            <p>Trường hợp Quý khách thanh toán phí để điều chỉnh hợp đồng</p>
            <p>DC-000012345620008-TRAN THI THANH-0903123456</p>
            <p>
                <strong>Lưu ý:</strong>
            </p>
            <ul>
                <li>
                    <p>Khách hàng nên lập riêng Ủy nhiệm chi phí bảo hiểm cho từng Hợp đồng bảo hiểm.
                    </p>
                </li>
                <li>
                    <p>Quý khách vui lòng tham khảo thêm các chi tiết khác liên quan đến hướng dẫn thanh
                        toán.</p>
                </li>
            </ul>
            <br>
        </li>
        <li>
            <h3>
                <strong>Website hoặc ứng dụng Payoo trên điện thoại di động</strong>
            </h3>
            <p> Quý khách truy cập vào địa chỉ <a class="text-cyan" href="https://bill.payoo.vn"
                    target="_blank">https://bill.payoo.vn Quý khách truy cập vào địa chỉ </a>
                hoặc đăng nhập ứng dụng Payoo trên điện thoại di động, chọn Dịch vụ
                <strong>Bảo hiểm</strong>
                và chọn Nhà cung cấp
                <strong>Chubb Life</strong>
                để thanh toán phí bảo hiểm bằng Ví điện tử Payoo hoặc tài khoản, thẻ ngân hàng nội địa.
            </p>
            <p>
                Xin vui lòng xem hướng dẫn chi tiết
                <a class="text-cyan"
                    href="https://www.chubb.com/vn/vn/customer-service/premium-payment/premium-payment-channel/easset_upload_file47030_1281994_e.pdf"
                    target="_blank">tại đây</a>
                .
            </p>
        </li>
    </ol>
</mat-dialog-content>