<div class="modal-header">
    <h2 mat-dialog-title class="mat-content">Thanh toán bằng thẻ</h2>
    <!-- <button aria-label="Close" class="close" type="button">
        <span aria-hidden="true">×</span>
    </button> -->

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>x</button>
    </mat-dialog-actions>
</div>
<mat-dialog-content class="mat-typography">
    <ol>
        <li>
            <h3>Máy ATM của Ngân hàng TMCP Ngoại Thương Việt Nam (Vietcombank)</h3>
            <p>Quý khách có Thẻ ATM hay Thẻ Ghi Nợ của Vietcombank có thể đến các máy ATM của Vietcombank để thanh
                toán
                phí bảo hiểm mà không cần phải trả thêm bất cứ khoản phí dịch vụ nào.</p>
            <p> Xin vui lòng xem hướng dẫn chi tiết trong file đính kèm&nbsp;
                <a class="text-cyan" href="./assets/files/atm-vietcombank.pdf" target="_blank">tại đây</a>
                .
            </p>
            <br>
        </li>
        <li>
            <h3>Cổng thanh toán trực tuyến</h3>
            <p> Quý khách truy cập vào địa chỉ
                <a class="text-cyan" href="https://www.baohiemchubblife.vn"
                    target="_blank">https://www.baohiemchubblife.vn Quý khách truy cập vào địa chỉ </a>
                , chọn chức năng Thanh Toán Trực Tuyến để thanh toán phí bảo hiểm bằng thẻ thanh toán ngân hàng.
            </p>
            <p>Lưu ý, khi Hợp đồng Bảo hiểm đang có khoản tạm ứng từ Giá trị Hoàn lại, Quý khách sẽ không được sử
                dụng
                Thẻ quốc tế để thanh toán Phí Bảo hiểm hoặc hoàn trả khoản tạm ứng.</p>
            <br>
        </li>
        <li>
            <h3>Thiết bị đọc thẻ (POS) của Đại diện Kinh doanh (ĐDKD), Đại lý Thu phí và tại các Văn phòng giao dịch
                Chubb Life trên toàn quốc</h3>
            <p>Quý khách vui lòng liên hệ Đại diện Kinh doanh, Đại lý Thu phí Chubb Life đang phục vụ Hợp đồng Bảo
                hiểm
                của mình hoặc Nhân viên Dịch vụ khách hàng tại các Văn phòng giao dịch Chubb Life trên toàn quốc để
                tìm
                hiểu và sử dụng miễn phí dịch vụ thanh toán phí bảo hiểm này.</p>
            <p>Lưu ý, khi Hợp đồng Bảo hiểm đang có khoản tạm ứng từ Giá trị Hoàn lại, Quý khách sẽ không được sử
                dụng
                Thẻ quốc tế để thanh toán Phí Bảo hiểm hoặc hoàn trả khoản tạm ứng.</p>
            <br>
        </li>
        <li>
            <h3>Hệ thống Điểm thanh toán liên kết của Payoo</h3>
            <p>Quý khách có thể đến thanh toán phí bảo hiểm bằng thẻ nội địa trong hoặc ngoài giờ hành chính, các
                ngày
                cuối tuần, thậm chí là 24/7 đối với một số cửa hàng tiện lợi, tại điểm thanh toán bất kỳ trong Hệ
                thống
                Điểm thanh toán liên kết của Payoo dưới đây, mà không cần phải thanh toán thêm bất cứ khoản phí
                dịch
                vụ nào:</p>
            <ul>
                <li>
                    <p>Circle K</p>
                </li>
                <li>
                    <p>B’s Mart</p>
                </li>
                <li>
                    <p>Family Mart</p>
                </li>
                <li>
                    <p>Ministop</p>
                </li>
                <li>
                    <p>Siêu thị điện máy Mediamart</p>
                </li>
                <li>
                    <p>Siêu thi điện máy Vinpro</p>
                </li>
                <li>
                    <p>Siêu thị điện máy HC</p>
                </li>
                <li>
                    <p>Hoàng Hà Mobile</p>
                </li>
                <li>
                    <p>Điện máy Ecomart</p>
                </li>
                <li>
                    <p>Siêu thị điện máy Pico</p>
                </li>
            </ul>
            <p>Khi đến các điểm thanh toán này để đóng phí bảo hiểm, Quý khách cần cung cấp các thông tin sau đây:
            </p>
            <ul>
                <li>
                    <p>Loại dịch vụ cần thanh toán: Bảo hiểm</p>
                </li>
                <li>
                    <p>Nhà cung cấp cần thanh toán: Chubb Life</p>
                </li>
                <li>
                    <p>Số Hợp đồng Bảo hiểm hoặc Số Hồ sơ yêu cầu Bảo hiểm của Quý khách</p>
                </li>
                <li>
                    <p>Loại phí thanh toán:</p>
                    <ul>
                        <li>
                            <p>Phí bảo hiểm đóng lần đầu</p>
                        </li>
                        <li>
                            <p>Phí bảo hiểm định kỳ (bao gồm Phí bảo hiểm định kỳ và Hoàn trả tạm ứng từ giá trị
                                tài
                                khoản hợp đồng)</p>
                        </li>
                        <li>
                            <p>Phí điều chỉnh: (bao gồm Phí điều chỉnh Hợp đồng Bảo hiểm hoặc khôi phục Hợp
                                đồng)
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Số tiền thanh toán</p>
                </li>
            </ul>
            <p>Nhân viên cửa hàng sẽ thực hiện thu tiền và in Biên nhận thanh toán để Quý khách kiểm tra thông tin
                và
                lưu giữ để đối chiếu khi cần thiết.</p>
            <p>Quý khách có thể tham khảo danh sách các điểm thanh toán Payoo có liên kết thu phí bảo hiểm cho Chubb
                Life <a class="text-cyan"
                    href="https://www.chubb.com/vn/vn/customer-service/premium-payment/premium-payment-channel/easset_upload_file89649_1242649_e.xlsx"
                    target="_blank">tại đây</a> .</p>
            <br>
        </li>
        <li>
            <h3>Website hoặc ứng dụng Payoo trên điện thoại di động</h3>
            <p>Quý khách truy cập vào địa chỉ <a class="text-cyan" href="https://bill.payoo.vn"
                    target="_blank">https://bill.payoo.vn</a> hoặc đăng nhập ứng dụng Payoo trên điện thoại di động,
                chọn Dịch vụ Bảo hiểm và chọn Nhà cung cấp Chubb Life để thanh toán phí bảo hiểm bằng Ví điện tử
                Payoo
                hoặc tài khoản, thẻ ngân hàng nội địa.</p>
            <p>Xin vui lòng xem hướng dẫn chi tiết <a class="text-cyan"
                    href="https://www.chubb.com/vn/vn/customer-service/premium-payment/premium-payment-channel/easset_upload_file28059_1242649_e.pdf"
                    target="_blank">tại đây</a> .</p>
        </li>
    </ol>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>