<div class="modal-header">
    <h2 mat-dialog-title class="mat-content">Thanh toán tiền mặt</h2>
    <button aria-label="Close" class="close" type="button">
        <span aria-hidden="true">×</span>
    </button>
</div>

<mat-dialog-content class="mat-typography">
    <ol>
        <li>
            <h3>Thanh toán bằng tiền mặt tại điểm giao dịch của Ngân hàng Sacombank, BIDV, Đông Á Bank và Vietinbank
                trên toàn quốc</h3>
            <p>Quý khách có thể đến bất kỳ điểm giao dịch nào của các ngân hàng được liệt kê dưới đây để thanh toán phí
                bảo hiểm mà không cần phải thanh toán thêm bất cứ khoản phí dịch vụ nào.</p>
            <ul>
                <li>
                    <p>Ngân hàng Sacombank, BIDV, Vietinbank, Đông Á bank</p>
                </li>
            </ul>
            <p>Nếu Quý khách nộp tiền mặt tại Ngân hàng Sacombank, Vietinbank, BIDV, Quý khách vui lòng ghi trên Giấy
                nộp tiền các thông tin cần thiết như sau:</p>
            <ul>
                <li>
                    <p>Tên đơn vị thụ hưởng:
                        <strong>CÔNG TY TNHH BẢO HIỂM NHÂN THỌ CHUBB VIỆT NAM</strong>
                    </p>
                </li>
                <li>
                    <p>Số tài khoản: 9999+15 số hợp đồng bảo hiểm/ 15 số hồ sơ yêu cầu bảo hiểm của Quý khách
                    </p>
                </li>
                <li>
                    <p>Tại Ngân hàng: Citibank</p>
                </li>
                <li>
                    <p>Nội dung thanh toán: ghi</p>
                    <p> &nbsp;&nbsp;&nbsp;- Phí bảo hiểm đóng lần đầu (hoặc ghi LD)
                        <br>
                        &nbsp;&nbsp;&nbsp;- Phí bảo hiểm định kỳ hoặc/và Hoàn trả tạm ứng từ giá trị tài khoản hợp
                        đồng
                        (hoặc ghi DK)
                        <br>
                        &nbsp;&nbsp;&nbsp;- Phí điều chỉnh Hợp đồng Bảo hiểm hoặc khôi phục Hợp đồng (hoặc ghi DC)
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <p>Số tiền thanh toán</p>
                </li>
            </ul>
            <br>
            <p>Nếu Quý khách nộp tiền mặt tại Ngân hàng Đông Á, Quý khách vui lòng ghi trên Giấy nộp tiền các thông tin
                cần thiết như sau:</p>
            <ul>
                <li>
                    <p>Tên đơn vị thụ hưởng:
                        <strong>CÔNG TY TNHH BẢO HIỂM NHÂN THỌ CHUBB VIỆT NAM</strong>
                    </p>
                </li>
                <li>
                    <p>Số tài khoản tại Ngân hàng Đông Á: 014613800001</p>
                </li>
                <li>
                    <p>Số Hợp đồng Bảo hiểm (hoặc Số Hồ sơ yêu cầu Bảo hiểm) và Tên Bên mua Bảo hiểm</p>
                </li>
                <li>
                    <p>Loại thanh toán: ghi</p>
                    <p> &nbsp;&nbsp;&nbsp;- Phí bảo hiểm đóng lần đầu (hoặc ghi LD)
                        <br>
                        &nbsp;&nbsp;&nbsp;- Phí bảo hiểm định kỳ hoặc/và Hoàn trả tạm ứng từ giá trị tài khoản hợp
                        đồng (hoặc ghi DK)
                        <br>
                        &nbsp;&nbsp;&nbsp;- Phí điều chỉnh Hợp đồng Bảo hiểm hoặc khôi phục Hợp đồng (hoặc ghi DC)
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <p>Số tiền thanh toán</p>
                </li>
            </ul>
            <p>Dựa trên những thông tin này, nhân viên ngân hàng sẽ thực hiện thu phí bảo hiểm và trả lại cho Quý khách
                liên 2 Giấy nộp tiền có đóng dấu “Đã thu tiền”.</p>
            <br>
        </li>
        <li>
            <h3>Thanh toán bằng tiền mặt tại Bưu cục của Tổng Công ty Bưu điện Việt Nam</h3>
            <p>Quý khách có thể đến bất kỳ Bưu cục nào thuộc mạng lưới của Tổng Công ty Bưu điện Việt Nam (VN Post) để
                thanh toán phí bảo hiểm mà không cần phải thanh toán thêm bất cứ khoản phí dịch vụ nào. Khi đến hệ thống
                các Bưu cục và liên lạc với Quầy Dịch vụ Tài chính để đóng phí bảo hiểm, Quý khách cần cung cấp các
                thông tin sau đây:</p>
            <ul>
                <li>
                    <p> Yêu cầu thanh toán phí bảo hiểm cho: <strong>CÔNG TY TNHH BẢO HIỂM NHÂN THỌ CHUBB VIỆT
                            NAM</strong> &nbsp; </p>
                </li>
                <li>
                    <p>Số Hợp đồng Bảo hiểm (hoặc Số Hồ sơ yêu cầu Bảo hiểm) và Tên Bên mua Bảo hiểm</p>
                </li>
                <li>
                    <p>Loại thanh toán</p>
                </li>
            </ul>
            <p>-&nbsp;Phí bảo hiểm đóng lần đầu (hoặc ghi LD)</p>
            <p>-&nbsp;Phí bảo hiểm định kỳ hoặc/và Hoàn trả tạm ứng từ giá trị tài khoản hợp đồng (hoặc ghi DK) </p>
            <p>-&nbsp;Phí điều chỉnh Hợp đồng Bảo hiểm hoặc khôi phục Hợp đồng (hoặc ghi DC).</p>
            <ul>
                <li>
                    <p>Số tiền thanh toán:</p>
                </li>
            </ul>
            <p> Nhân viên bưu cục sẽ thực hiện thu tiền và in Giấy xác nhận giao dịch để Quý khách kiểm tra thông tin và
                lưu giữ.
                <br>
                Trong trường hợp nhân viên bưu cục thông báo không tìm thấy thông tin Hợp đồng Bảo hiểm của Quý khách
                trong hệ thống, Quý khách vui lòng đề nghị nhân viên bưu cục liên lạc với Chubb Life theo số điện thoại
                *8123 hoặc (+84 28) 3827 8123 để được hướng dẫn chi tiết.
                <br>
                Quý khách có thể tham khảo danh sách các bưu cục thực hiện dịch vụ thu phí bảo hiểm cho Chubb Life
                <a class="text-cyan" href="./assets/files/cash-post-office-list.xlsx">tại đây</a>
                .
            </p>
            <br>
        </li>
        <li>
            <h3>Thanh toán bằng tiền mặt thông qua Đại diện Kinh doanh Chubb Life</h3>
            <p>Quý khách có thể liên hệ Đại diện Kinh doanh Chubb Life đang phục vụ Hợp đồng Bảo hiểm của mình để thanh
                toán phí bảo hiểm bằng tiền mặt. Ngay khi thanh toán, Quý khách sẽ nhận được Liên 2 (Liên dành cho
                khách hàng) của Biên nhận thu phí bảo hiểm từ Đại diện Kinh doanh.</p>
            <p>Quý khách cần yêu cầu Đại diện Kinh doanh ghi Biên nhận Thu phí Bảo hiểm cho mỗi lần thanh toán phí bảo
                hiểm bằng tiền mặt và lưu giữ bản gốc chứng từ này trong mọi trường hợp để làm bằng chứng cho việc thanh
                toán phí bảo hiểm. Quý khách vui lòng đọc kỹ các thông tin cung cấp trên Biên nhận Thu phí liên quan đến
                các chi tiết nhằm xác nhận tính hợp lệ của Biên nhận Thu phí Bảo hiểm. Đối với mọi khiếu nại liên quan
                đến việc thanh toán phí bảo hiểm, Chubb Life sẽ không có đủ căn cứ để xem xét giải quyết nếu Quý khách
                không có Biên nhận Thu phí Bảo hiểm hợp lệ với thông tin đầy đủ, chính xác, ghi nhận ngày tháng năm
                thanh toán phí bảo hiểm và các chi tiết có liên quan khác.</p>
            <br>
        </li>
        <li>
            <h3>Thanh toán bằng tiền mặt thông qua Đại lý Thu phí Chubb Life</h3>
            <p>Quý khách có thể liên hệ Đại lý Thu phí Chubb Life đang phục vụ Hợp đồng Bảo hiểm của mình để thanh toán
                phí bảo hiểm bằng tiền mặt. Ngay khi thanh toán, Quý khách sẽ nhận được Biên nhận thu phí in từ máy POS
                của Đại lý Thu phí.</p>
            <br>
        </li>
        <li>
            <h3>Hệ thống Điểm thanh toán liên kết của Payoo</h3>
            <p>Quý khách có thể đến thanh toán phí bảo hiểm bằng tiền mặt trong hoặc ngoài giờ hành chính, các ngày cuối
                tuần, thậm chí là 24/7 đối với một số cửa hàng tiện lợi, tại điểm thanh toán bất kỳ trong Hệ thống Điểm
                thanh toán liên kết của Payoo dưới đây, mà không cần phải thanh toán thêm bất cứ khoản phí dịch vụ nào:
            </p>
            <ul>
                <li>
                    <p>Circle K</p>
                </li>
                <li>
                    <p>B’s Mart</p>
                </li>
                <li>
                    <p>Family Mart</p>
                </li>
                <li>
                    <p>Ministop</p>
                </li>
                <li>
                    <p>Siêu thị điện máy Mediamart</p>
                </li>
                <li>
                    <p>Siêu thi điện máy Vinpro</p>
                </li>
                <li>
                    <p>Siêu thị điện máy HC</p>
                </li>
                <li>
                    <p>Hoàng Hà Mobile</p>
                </li>
                <li>
                    <p>Điện máy Ecomart</p>
                </li>
                <li>
                    <p>Siêu thị điện máy Pico</p>
                </li>
            </ul>
            <p>Khi đến các điểm thanh toán này để đóng phí bảo hiểm, Quý khách cần cung cấp các thông tin sau đây: </p>
            <ul>
                <li>
                    <p>Loại dịch vụ cần thanh toán: Bảo hiểm</p>
                </li>
                <li>
                    <p>Nhà cung cấp cần thanh toán: Chubb Life</p>
                </li>
                <li>
                    <p>Số Hợp đồng Bảo hiểm hoặc Số Hồ sơ yêu cầu Bảo hiểm của Quý khách</p>
                </li>
                <li>
                    <p>Loại phí thanh toán:</p>
                    <ul>
                        <li>
                            <p>Phí bảo hiểm đóng lần đầu</p>
                        </li>
                        <li>
                            <p>Phí bảo hiểm định kỳ (bao gồm Phí bảo hiểm định kỳ và Hoàn trả tạm ứng từ giá trị tài
                                khoản hợp đồng)</p>
                        </li>
                        <li>
                            <p>Phí điều chỉnh: (bao gồm Phí điều chỉnh Hợp đồng Bảo hiểm hoặc khôi phục Hợp đồng)
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Số tiền thanh toán</p>
                </li>
            </ul>
            <p>Nhân viên cửa hàng sẽ thực hiện thu tiền và in Biên nhận thanh toán để Quý khách kiểm tra thông tin và
                lưu giữ để đối chiếu khi cần thiết.</p>
            <p>Quý khách có thể tham khảo danh sách các điểm thanh toán Payoo có liên kết thu phí bảo hiểm cho Chubb
                Life <a class="text-cyan"
                    href="https://www.chubb.com/vn/vn/customer-service/premium-payment/premium-payment-channel/easset_upload_file50741_1242687_e.xlsx"
                    target="_blank">tại đây</a>
                .</p>
            <br>
        </li>
    </ol>
</mat-dialog-content>